/*------------Google Fonts----*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway&display=swap');

/*------------Global Styling----*/
* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    color: #3D3D3D;
    text-decoration: none;
    text-align: center;
}

/*------------Background Colour----*/
.bg-color-header {
    background-color: #f1d6d0;
}

.bg-color-body {
    background-color: #f8f0e6;
}

.bg-color-footer {
    background-color: #F1D6D0;
}
/*------------Headings/Paddings----*/
.heading {
    font-family: "Great Vibes", cursive;
    font-size: 3.5rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    text-shadow: 3px 3px 8px #3D3D3D;
}

.p-text {
    padding: 0.5rem;
    font-size: 1.5rem;
    margin: 0;
}

section {
    padding-top: 2rem; 
    padding-bottom: 2rem;
}

/*------------Section Dividers----*/
.section-divider {
    width: 18rem;
    height: 0.5rem;
    border: 0;
    border-radius: 1rem;
    background-color: #F1D6D0;
    margin: 4rem auto 0;
}

/*------------Logo----*/
#logo {
    font-family: "Great Vibes", cursive;
    font-size: 3.5rem;
    color: #3D3D3D;
    padding: 0;
    text-shadow: 3px 3px 8px #3D3D3D;
    margin-left: 0.5rem;
}

/*------------Navigation----*/
.navbar {
    border-radius: 0 0 30px 30px;
}

#navbarNav {
    padding-right: 4rem;
}

#navbarNav ul li a {
    text-align: right;
    font-size: 1.5rem;
}

.nav-item {
    margin-right: 1.5rem;
}

.navbar-toggler-icon {
    width: 2em;
    height: 2em;
}

.navbar-toggler {
    margin-right: 1rem;
}

/*------------Footer----*/

.footer {
    flex-shrink: 0;
    min-height: 55px;
    border-radius: 30px 30px 0 0;
    margin-top: 1rem;
}

.social-icon-links {
    list-style: none;
    text-align: center;
    padding-top: 1rem;
}

.social-icon-links li {
    display: inline;
    font-size: 2rem;
}

.social-icon-links .fab {
    font-size: 2rem;
    padding: 1rem;
    color:  #3D3D3D;
}

.social-icon-links .fab:hover {
    opacity: 0.5;
}

/*------------Home Page Images----*/

.main-home-image {
    margin-top: 5rem;
    width: 100%;
    height: auto;
}

.home-abstract-image {
    align-self: center;
    max-width: 80%;
    height: auto;
    margin-bottom: 1.5rem;
}
.home-garden-image {
    align-self: center;
    max-width: 80%;
    height: auto;
    margin-bottom: 1.5rem;
}

/*------------Home Content----*/

.main-home-text {
    margin: 1.5rem auto 0;
    padding-bottom: 1.5rem;
}

.about {
    margin: 0 auto;
    align-self: center;
}
/*------------Repairs----*/

.repairs .fa-tools {
    font-size: 1.5rem;
    padding: 1rem;
    color:  #3D3D3D;
}

/*------------Buttons----*/

 .home-page-buttons .btn {
    font-size: 1.5rem;
    background-color: rgba(241, 214, 208, 0.5);
    color: #3D3D3D;
    border-radius: 1rem;
    margin-top: 1rem;
}

.home-page-buttons .btn:hover {
    opacity: 0.5;
}

.home-page-buttons .btn-link:hover {
    color: #747B83;
    text-decoration: none;
}
/*------------Lamps Content Wrapper----*/
/*--Code Snippet: Stack Overflow, User: Luke Flournoy https://stackoverflow.com/questions/4575826/how-to-push-a-footer-to-the-bottom-of-page-when-content-is-short-or-missing-*/
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

/*------------Lamps Page----*/

#lamps-gallery {
    margin-top: 5rem;
    padding-bottom: 0;
}

.lamps-heading {
    padding-bottom: 1rem;
}

/*------------Lamps Carousel----*/

.lamps { 
    max-width: 100%;
    height: 350px;
    margin: 0 auto;
  }

 .lamp-img {
    max-width: 100%;
    height: 350px;
    margin: 0 auto;
  }

/*------------ Thumbnails----*/
/* Code snippet W3 Schools https://www.w3schools.com/howto/howto_css_thumbnail.asp */
  .thumbnail {
  border: 1px solid #ddd;
  margin-top: 1rem;
  padding: 5px; 
  width: 100px; 
  height: 120px;
}

/* Thumbnail hover effect - grey shadow */
.thumbnail:hover {
  box-shadow: 0 0 2.5px 2px rgba(150, 150, 150, 0.5);
}

.thumbnail-links li {
    display: inline;
}

#gallery-thumbnails {
    margin-top: 2rem;
}

/*------------ Lamps Text ----*/
.lamps-text {
    padding-top: 1.5rem;
}

/*------------Media Queries----*/
/*-- Medium Screen--*/
@media only screen and (min-width: 768px) {
 
    .container-abstract {
        order: 1;
    }

    .about-text {
        order: 2;
    }

    .home-abstract-image {
        max-width: 100%;
        margin-top: 5rem;
    }

    .home-garden-image {
        max-width: 100%;
        margin-top: 4rem;
    } 

    .lamps {
        margin-top: 1rem;
    }

    .lamps-text {
        padding-top: 0;
}
/*-- Large Screen--*/
@media only screen and (min-width: 992px) {
    #logo {
        font-size: 5rem;
    }

    #navbarNav {
        padding-right: 3rem;
    }

    #navbarNav ul li a {
        font-size: 2rem;
    }

    .nav-item {
    margin-right: 3rem;
    }

    .main-home-image {
       margin-top: 8rem;
    }

    .main-home-image {
        width: auto;
        height: 90vh;
    }

     #lamps-gallery {
        padding-top: 4rem;
    }

    .home-abstract-image {
        max-width: 70%;
        margin-top: 5rem;
    }

    .home-garden-image {
        max-width: 70%;
        margin-top: 4rem;
    } 
}