/*------------Google Fonts----*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway&display=swap');

/*------------Global Styling----*/
* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}

/*------------Background Colour----*/
.bg-color-header {
    background-color: #F1D6D0;
}

.bg-color-body {
    background-color: #F8F0E6;
}

.bg-color-footer {
    background-color: #F1D6D0;
}

/*------------Logo----*/
#logo {
    font-family: "Great Vibes", cursive;
    font-size: 3rem;
    color: #3D3D3D;
    padding: 0;
}

/*------------Navigation----*/
.navbar {
    border-radius: 0 0 30px 30px;
}

#navbarNav {
    text-align: right;
}

/*------------Footer----*/
footer {
    position: fixed;
    bottom: 0;
    min-height: 55px;
    border-radius: 30px 30px 0 0;
}

.social-icon-links {
    list-style: none;
    text-align: center;
    padding-top: 1rem;
}

.social-icon-links li {
    display: inline;
    font-size: 2rem;
}

.social-icon-links .fab {
    font-size: 2rem;
    padding: 1rem;
    color:  #3D3D3D;
}

.social-icon-links .fab:hover {
    opacity: 0.5;
}

/*------------Home/About----*/

section {
    padding-top: 2rem; 
}

.main-home-image {
    width: 100%;
}

.home-abstract-image {
    height: 100%;
    width: 100%;
    align-self: center;
}

.home-garden-image {
    height: 100%;
    width: 100%;
    align-self: center;
}

.main-home .link {
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: whitesmoke;
    /*border: 1px solid whitesmoke;*/
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .3);
}